{{define "head"}}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" href="/assets/css/scss.css" />
    <script type="text/javascript" src="/assets/js/htmx.js" defer=""></script>
    <script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js" defer=""></script>
    <script type="text/javascript" src="/assets/js/template.js"></script>
    <title>{{ .PageTitle }}</title>
{{end}}